{% extends "calendario/base.html" %}

{% block titulo %}
<title>Excluir Período de Congelamento</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Excluir Período de Congelamento</h2>
    <p>Tem certeza que deseja excluir este período de congelamento?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'list_freezing_periods' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}