{% extends 'calendario/base.html' %}

{% block info %}

{% endblock %}

{% block content %}
<div class="container mt-6">
    <div class="jumbotron text-center">
        <h1 class="display-5">Bem-vindo ao Planejamento de Atividades</h1>
        <p class="lead">Gerencie suas atividades de forma eficiente e organizada.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Visão Geral das Atividades</h2>
            <p>Resumo das atividades do mês atual.</p>
            <!-- Adicionar um gráfico ou indicadores aqui -->
        </div>
        <div class="col-md-4">
            <h2>Calendário de Atividades</h2>
            <p>Visualize suas atividades em um calendário interativo.</p>
        </div>
        <div class="col-md-4">
            <h2>Atividades Recentes</h2>
            <ul class="list-group">
                <li class="list-group-item">Atividade 1</li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-5">
        <a class="btn btn-primary" href="#">Adicionar Nova Atividade</a>
        <a class="btn btn-secondary" href="#">Visualizar Todas as Atividades</a>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">© 2024 Planejamento de Atividades. Todos os direitos reservados.</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}