{% extends "calendario/base.html" %}

{% block titulo %}
<title>Lista de Atividades</title>
{% endblock %}

{% block content %}
<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="?month={{ anterior_mes }}&year={{ ano_atual }}&view=lista"
        class="btn btn-outline-success btn-sm">Anterior</a>
    <a href="?month={{ proximo_mes }}&year={{ ano_atual }}&view=lista"
        class="btn btn-outline-success btn-sm">Próximo</a>
    <a href="?month={{ mes_atual_num }}&year={{ ano_atual }}&view=calendario" class="btn btn-outline-primary btn-sm">Ver
        Calendário</a>
    <h2>Atividades de {{ mes_atual }} de {{ ano_atual }}</h2>
</div>

<div class="d-flex justify-content-center mb-3">
    <div id="filtros-areas" class="col-8 m-auto pt-2 pb-2">
        Filtros por área:
        <div class="button-container" style="margin-bottom: 10px;">
            <button id="enable-all" class="btn btn-success btn-sm">Habilitar Todos</button>
            <button id="disable-all" class="btn btn-danger btn-sm">Desabilitar Todos</button>
        </div>

        <div class="checkbox-container">
            {% for area in areas %}
            <div class="checkbox-area" style="display: inline-block; margin-right: 10px;">
                <input type="checkbox" id="area_{{ area.id }}" value="{{ area.id }}" checked>
                <label for="area_{{ area.id }}" style="color: {{ area.cor }}">{{ area.nome }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Título</th>
            <th>Área</th>
        </tr>
    </thead>
    <tbody>
        {% for atividade in eventos %}
        <tr class="evento-area-{{ atividade.area.id }}">
            <td>{{ atividade.data|date:"d/m/Y" }}</td>
            <td>{{ atividade.hora }}</td>
            <td>{{ atividade.titulo }}</td>
            <td style="color: {{ atividade.cor_area }}">{{ atividade.area.nome }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const enableAllButton = document.getElementById('enable-all');
        const disableAllButton = document.getElementById('disable-all');
        const checkboxes = document.querySelectorAll('#filtros-areas input[type="checkbox"]');

        // Função para habilitar todos os checkboxes
        enableAllButton.addEventListener('click', function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = true;
                const areaId = checkbox.value;
                const eventos = document.querySelectorAll('.evento-area-' + areaId);
                eventos.forEach(evento => {
                    evento.style.display = 'table-row';
                });
            });
        });

        // Função para desabilitar todos os checkboxes
        disableAllButton.addEventListener('click', function () {
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
                const areaId = checkbox.value;
                const eventos = document.querySelectorAll('.evento-area-' + areaId);
                eventos.forEach(evento => {
                    evento.style.display = 'none';
                });
            });
        });

        // Manter a funcionalidade individual dos checkboxes
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                const areaId = checkbox.value;
                const eventos = document.querySelectorAll('.evento-area-' + areaId);
                eventos.forEach(evento => {
                    evento.style.display = checkbox.checked ? 'table-row' : 'none';
                });
            });
        });
    });
</script>
{% endblock %}